<html>
<head></head>

<body>
欢迎<a th:text="${uid}"></a>
<table border="0">
<tr>
<td style="vertical-align: top; white-space: nowrap;">
<div>
    <ul>
        <li><a href="adduser.html" target="iframe_a">添加用户</a></li>
        <li><a href="addtype.html" target="iframe_a">添加物品分类</a></li>
        <li><a href="addstock.html" target="iframe_a">添加物品</a></li>
        <li><a href="showstock.html" target="iframe_a">查看库存信息</a></li>
    </ul>
</div>
</td>
<td>
<iframe src="welcome.html" name="iframe_a" frameborder="0" width="1366" height="768">
</iframe>
</td>
</tr>
</table>
</body>
</html>